/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    
}

/*Navigation Bar: logo and image */
#logo {

    margin: 11px 5px;
    cursor: pointer;
}

#logo img {
    margin: 7px 23px;
    height: 75px;

}

#navbar {
    position:sticky;
}

/* Navigation Bar: List and styling  */
#navbar ul {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

/* These are called psedu Selectors */
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 20px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
#home {
    height: 615px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(../bg2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: rgb(34, 5, 68);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

/* Services Section  */
#services {
    margin: 12px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 40px;
    margin: 5px 10px;
    border-radius: 40px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Playfair Display', serif;
}

/* Client Section  */
/* .client-section { */
    /* border: 2px solid black; */
    /* height: 237px; */
/* } */

.client-section::before {
    content: "";
    position: absolute;
    background : url('../bg.jpg');
    width: 100%;
    height: 38%;
    z-index: -1;
    opacity: 0.6;
    
}

#clients img {
    height: 70px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 23px;
    max-width: fit-content;
}
/* Contact section */
#contact{
      position: relative; 
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact.jpg) no-repeat center center/cover;
}

#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 38px;
}
#contact-box form{
    width: 40% ;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;
    
}
#contact-box input{
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    border-radius: 4px;
}



.h-primary{
text-align: center;
}






/* Utility Classes */
.h-primary {
    font-family: 'Playfair Display', serif;
    font-size: 3.8rem;
    padding: 12px;
}

html{
    scroll-behavior: smooth;
}

.h-secondary {
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    padding: 12px;
}

.primary-container {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 3.2rem
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(240, 56, 56);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    color: blue;
    background-color: brown;
}

#center {
    text-align: center;
    justify-content: center;
}
/* footer section */
footer{
    color: white;
    background-color: black;
    padding: 10px;
}